/* Estilos generales */
* {
    padding: 7px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* Aplica la tipograf칤a Poppins a todos los elementos */
}

/* =====================================================================/*
                        TRANSICI칍N CON GSAP
/*======================================================================== */
.transition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 1000; /* Valor alto para que cubra todo */
    pointer-events: none;
}

.transition-row {
    flex: 1;
    display: flex;
}

/* Ajuste: Usamos .row1 y .row2, de acuerdo a tu HTML */
.transition-row.row1 .block {
    transform-origin: top;
}

.transition-row.row2 .block {
    transform-origin: bottom;
}

.block {
    flex: 1;
    background-color: #2788c0; /* Puedes ajustar el color si lo deseas */
    transform: scaleY(1);
    will-change: transform;
}
  
body::-webkit-scrollbar {
    width: 15px;
  }
  body::-webkit-scrollbar-thumb {
    background: #3E99E3;
    border-radius: 10px;
  }
  body::-webkit-scrollbar-thumb:hover {
      background: #B8D3EF;
  } 

.color_fondo {
    position: relative; /* Necesario para que el pseudo-elemento se posicione correctamente */
}

.color_fondo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/img/fondo_agua.png'); /* Ruta a tu imagen */
   
    background-position: center;
    /* Ajusta el tama침o de la imagen para que se ajuste dentro del contenedor */
    opacity: 0.1; /* Ajusta la opacidad para que se vea como una marca de agua */
    z-index: -1; /* Asegura que la imagen est칠 detr치s de todo el contenido */
    pointer-events: none; /* Permite que los eventos pasen a trav칠s del pseudo-elemento */
}

html, body {
    background-color: #fff; /* Establecer el color de fondo */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0; /* Eliminar margen */
    padding: 0; /* Eliminar padding */
    height: 100%; /* Asegurar que el fondo cubra toda la altura */
}
/* =====================================================================/*
                              TRANSICI칍N CON GSAP
    /*======================================================================== */
    .transition {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        z-index: 1000; /* Valor alto para que cubra todo */
        pointer-events: none;
      }
      
      .transition-row {
        flex: 1;
        display: flex;
      }
      
      /* Ajuste: Usamos .row1 y .row2, de acuerdo a tu HTML */
      .transition-row.row1 .block {
        transform-origin: top;
      }
      
      .transition-row.row2 .block {
        transform-origin: bottom;
      }
      
      .block {
        flex: 1;
        background-color: #2788c0; /* Puedes ajustar el color si lo deseas */
        transform: scaleY(1);
        will-change: transform;
      }
      #myBtn {
        width: 48px;
        height: 48px;
        line-height: 48px;
        overflow: hidden;
        z-index: 999;
        cursor: pointer;
        opacity: 0; /* Inicialmente oculto */
        transition: all 0.4s ease-in;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #fbfbfb;
        color: #333;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        border-radius: 4px;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.18);
        display: flex; /* Usar Flexbox para centrar el contenido */
        justify-content: center; /* Centrar horizontalmente */
        align-items: center; /* Centrar verticalmente */
    }
    
    #myBtn:hover {
        background-color: #009fc1;
        color: #fff;
    }
    
    #myBtn img {
        width: 45px; /* Ajusta el tama침o de la imagen seg칰n sea necesario */
        height: 45px; /* Ajusta el tama침o de la imagen seg칰n sea necesario */
    }
.espacio {
    margin: 10px;
}


/* Otros estilos */
.titulo {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    text-align: center;
    font-size: 100px;
    color: rgb(255, 255, 255);
    margin: 0; /* Eliminar margen */
    padding: 0; /* Eliminar padding */
    height: 85vh; /* Altura del viewport */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    flex-direction: column;
}

.titulo p {
    color: rgb(163, 214, 255);
}


body .recuadro {
    background-color: #c8e6fa; /* Color de fondo */
    border-radius: 10px;
    margin: 10px auto; /* Centrar horizontalmente */
    width: 80%;
    position: relative;
}
.inicio {
    background-image: url(../assets/img/fondo_inicio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.final {
    margin: 0; /* Eliminar margen */
    padding: 0; /* Eliminar padding */
    background-image: url(../assets/img/noche.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.subtitulo {
    margin: 0; /* Eliminar margen */
    padding: 20px 0; /* Ajustar padding si es necesario */
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);

    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    text-align: center;
    flex-direction: column;
}

.subtitulo2, .subtitulo3 {
    margin: 0; /* Eliminar margen */
    padding: 20px 0; /* Ajustar padding si es necesario */
    text-align: center;
    font-size: 20px;
    color: #000000;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    text-align: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.mapa {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente si es necesario */
    margin: 20px 0; /* Agregar margen superior e inferior si es necesario */
}
.texto {
    margin: 0; /* Eliminar margen */
    padding: 20px 0; /* Ajustar padding si es necesario */
    display: flex;
    text-align: center;
    font-size: 20px;
}
.recuadro {
    opacity: 0.5;
    background-color: #c7c4c4;
    border-radius: 10px;
    margin: 10px auto; /* Centrar horizontalmente */
    width: 80%;
    position: relative;
    margin-top: 500px; /* Agregar margen superior para separar del carrusel */
}
.recuadro2 {
    background-color: #c7c4c4;
    border-radius: 10px;
    margin: 10px auto; /* Centrar horizontalmente */
    width: 80%;
    visibility: hidden;

    position: relative;
    margin-top: 500px; /* Agregar margen superior para separar del carrusel */
}


.mapa {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente si es necesario */
    margin: 20px 0; /* Agregar margen superior e inferior si es necesario */
}
.iconos {
    margin: 0; /* Eliminar margen */
    padding: 20px 0; /* Ajustar padding si es necesario */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    background-color: #e4f0fa;
    flex-wrap: wrap; /* Permitir que los elementos se ajusten en varias l칤neas si es necesario */
}

.icono {
    display: flex;
    flex-direction: column; /* Alinear elementos en columna */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    margin: 20px; /* A침adir margen para separaci칩n entre iconos */
    text-align: center; /* Centrar texto */
}

.icono img {
    width: 90px;
    height: 90px;
    margin-bottom: 10px; /* A침adir margen inferior para separaci칩n entre imagen y texto */
}

.icono p {
    margin: 0; /* Eliminar margen */
    padding: 0; /* Eliminar padding */
    font-size: 20px;
}

h1 {
    margin-top: 50px 0px;
    text-align: center;
    font-size: 70px;
    display: block;
    color: beige;
}
/* Carrusel */


.container2 {
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
    margin-bottom: 50px; /* Agregar margen inferior para separar del cuadro de ubicaci칩n */
}

.carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
}

.carousel__face {
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    display: flex;
}

span {
    margin: auto;
    color: white;
    font-size: 2rem;
}

.carousel__face:nth-child(1) {
    background-image: url("../assets/img/fogata.jpg");
    transform: rotateY(0deg) translateZ(430px);
}

.carousel__face:nth-child(2) {
    background-image: url("../assets/img/descubrir.jpg");
    transform: rotateY(40deg) translateZ(430px);
}

.carousel__face:nth-child(3) {
    background-image: url("../assets/img/participacion.jpg");
    transform: rotateY(80deg) translateZ(430px);
}

.carousel__face:nth-child(4) {
    background-image: url("../assets/img/cooperar.jpg");
    transform: rotateY(120deg) translateZ(430px);
}

.carousel__face:nth-child(5) {
    background-image: url("../assets/img/nuevo_equipo.jpg");
    transform: rotateY(160deg) translateZ(430px);
}

.carousel__face:nth-child(6) {
    background-image: url("../assets/img/cooperar.jpg");
    transform: rotateY(200deg) translateZ(430px);
}

.carousel__face:nth-child(7) {
    background-image: url("../assets/img/picnic.jpg");
    transform: rotateY(240deg) translateZ(430px);
}

.carousel__face:nth-child(8) {
    background-image: url("../assets/img/leer.jpg");
    transform: rotateY(280deg) translateZ(430px);
}

.carousel__face:nth-child(9) {
    background-image: url("../assets/img/curiosidad.jpg");
    transform: rotateY(320deg) translateZ(430px);
}

@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
}

/* Cuadro de ubicaci칩n */
.mapa {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente si es necesario */
    margin: 20px 0; /* Agregar margen superior e inferior si es necesario */
    margin-top: 50px; /* Agregar margen superior para separar del carrusel */
}
.container::after {
    /*para q el contenedor muestre elementos aunque estos sean flotantes*/
    content: "";
    display: block;
    height: 0px;
    clear: both;
}

.container {
    width: 90%;
    margin: 0 9%;
}

/*estructura de cada componente(la imagen mas descripcion)*/
.container div {
    width: 30%;
    height: auto;
    display: inline; /*bloques en linea*/
    float: left;
    margin: 0% 3% 0% 0%;
    padding: 0px;
}

.container div img {
    width: 100%;
    height: 400px;
    width: 300px;
    border: 5px solid #fff;
}

/*estructura de la descripcion, por defecto q no se muestre*/
.container div img~span {
    width: 280px;
    display: flex; /* Usar Flexbox para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    opacity: 0;
    margin: 0;
    padding: 2px 5px;
    color: azure;
    background: rgb(40, 40, 40);
    text-align: center;
    margin: 10px;
}

/*se muestre la descripcion al poner el raton encmia de la imagen*/
.container div img:hover+span {
    opacity: 1;
}

/*establecemos el comportamiento q tendran las imageners al posicionar el cursor encima del contenedor*/
.container:hover div {
    opacity: 0.2;
    transform: scale(0.7);
    transition: 2s;
}

/*espacificar el comportamiento que trandra la imagen seleccionado*/
.container:hover div:hover {
    opacity: 1;
    transform: scale(1);
}

.my-button {
    padding: 20px 40px;
    background-color: #2788c0;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px;
    text-decoration: none; /* Eliminar subrayado de los enlaces */
    display: inline-block; /* Asegurarse de que se comporten como botones */
    font-size: 16px; /* Ajustar el tama침o de la fuente */
    text-align: center; /* Centrar el texto dentro del bot칩n */
}

.my-button:hover {
    background-color: #1c7ab1;
}

.my-button:active {
    background-color: #016ead;
}

.lenguajes {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    flex-wrap: wrap; /* Permitir que las cartas se ajusten en varias l칤neas si es necesario */
    margin: 20px 0; /* A침adir margen superior e inferior */
}

.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px; /* Aplicar m치rgenes con el resto de cartas */
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Determina si la cara posterior de un elemento es visible de frente al usuario */
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0px 5px 10px #000;
}

.card .front img {
    width: 100%;
    height: 100%; /* Asegurarse de que la imagen ocupe toda la tarjeta */
    object-fit: cover; /* Indica c칩mo el contenido de un elemento deber치 ser redimensionado para ajustarse a su contenedor */
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    text-align: center;
    box-shadow: 0px 5px 10px #000;
}

.card .back .link {
    border-top: 1px solid #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #f3f3f3;
}

.card .back .link h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back .link p {
    letter-spacing: 1px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

/* Media Queries para dispositivos m칩viles */
@media (max-width: 768px) {
    /* Ajustes generales */
    body {
        padding: 5px;
    }

    /* Ajuste de t칤tulos */
    .titulo {
        font-size: 32px;
        height: auto;
        padding: 15px;
    }

    .titulo h1 {
        font-size: 28px;
    }

    .titulo h3 {
        font-size: 18px;
    }

    /* Ajuste de subt칤tulos */
    .subtitulo, .subtitulo2, .subtitulo3 {
        font-size: 18px;
        padding: 10px 0;
    }

    /* Ajuste de contenedores */
    .container {
        width: 100%;
        margin: 0;
        flex-direction: column;
    }

    .container div {
        width: 100%;
        margin: 10px 0;
    }

    .container div img {
        width: 100%;
        height: auto;
    }

    /* Ajuste de iconos */
    .iconos {
        flex-direction: column;
        align-items: center;
    }

    .icono {
        margin: 10px 0;
    }

    .icono img {
        width: 50px;
        height: 50px;
    }

    .icono p {
        font-size: 14px;
    }

    /* Ajuste de botones */
    .my-button {
        padding: 12px 24px;
        font-size: 14px;
    }

    /* Ajuste del recuadro */
    .recuadro, .recuadro2 {
        width: 95%;
        margin-top: 50px;
    }

    /* 游댳 Ajuste del Carrusel Responsive */
    .carrusel {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .carrusel::-webkit-scrollbar {
        display: none;
    }

    .carrusel-inner {
        display: flex;
        flex-wrap: nowrap;
    }

    .carrusel-item {
        flex: 0 0 80%; /* Reducimos el ancho de cada imagen */
        scroll-snap-align: center;
        text-align: center;
        margin: 0 auto;
    }

    .carrusel-item img {
        width: 80%; /* Hacemos las im치genes m치s peque침as */
        max-height: 200px; /* Reducimos la altura */
        object-fit: cover;
        border-radius: 10px;
    }

    /* Ocultamos los botones en m칩vil (uso t치ctil en su lugar) */
    .carrusel-control {
        display: none;
    }

    /* Ajuste de tarjetas */
    .card-container {
        flex-direction: column;
    }

    .card {
        width: 90%;
        margin: 15px 0;
    }

    /* Bot칩n flotante */
    #myBtn {
        width: 40px;
        height: 40px;
        bottom: 15px;
        right: 15px;
        font-size: 20px;
    }

    #myBtn img {
        width: 30px;
        height: 30px;
    }
}
